*{ box-sizing: border-box; }
body { margin:0; }
.container{
    max-width: 1400px;
    width: 100%;
    margin: auto;
    height: 100%;
    color: #fff;
    text-align: center;
}
.conteudodireitatopo {
    width: 40%;
    height: 400px;
    float: left;
    overflow:hidden;
    color: #000;
    background-color: hsla(100, 200%, 70%, 0.8);
}
.conteudodireitabaixo {
    width: 40%;
    height: 400px;
    float: left;
    overflow:hidden;
    line-height: 400px;
    background-color: hsla(300, 200%, 70%, 0.8);
}

.conteudoesquerda {
    width: 60%;
    height: 800px;
    float: left;
    overflow:hidden;
    line-height: 800px;
    background-color: hsla(250, 200%, 70%, 0.8);
}

.topo {
    width: 100%;
    height: 30px;
    float: left;
    overflow:hidden;
    background-color: #000;
}

.rodape {
    width: 100%;
    height: 100px;
    float: left;
    overflow:hidden;
    background-color: hsla(150, 200%, 70%, 0.8);

}