:root {
    --heightHeader: 175px;
}

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
}

header {
    background-color: #aaa;
    width: 100vw;
    height: var(--heightHeader);
}

aside {
    left: 0%;
    background-color: #bbb;
    width: 200px;
    height: calc(80vh - var(--heightHeader));
}

main {
    width: calc(100vw - 200px);
    height: calc(80vh - var(--heightHeader));
    background-color: #ccc;
}

footer {
    bottom: 0%;
    background-color: #aaa;
    width: 100vw;
    height: 20vh;
}


/*! Figure */

figure {
    border: 1px solid #000;
    padding: 10px 10px 5px;
    width: fit-content;
}

figure figcaption {
    padding: 2px;
    text-align: center;
    background-color: azure;
    color: #1e1e1e;
}

figure img {
    width: 500px;
}