* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    display: flex;
    background-color: #DDD;
    height: 1000px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
}

.container div {
    width: 200px;
    height: 200px;
    background-color: #FF0000;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}