* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/*? Paleta de cores  */

:root {
  --carolina-blue: #03a2dfff;
  --spanish-blue: #026fc7ff;
  --dark-cornflower-blue: #024292ff;
  --gray-icon: #b3b0b3;
}

.bg-blue1 {
  background-color: var(--carolina-blue);
}

.bg-blue2 {
  background-color: var(--spanish-blue);
}

.bg-blue3 {
  background-color: var(--dark-cornflower-blue);
}

/*? Paleta de cores  */

.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 90px;
}

header .header-logo img {
  width: 100%;
  max-width: 250px;
}

header .header-menu nav ul {
  display: flex;
}

header .header-menu nav ul li {
  list-style-type: none;
  margin-right: 28px;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header .header-menu ul li:hover,
header .header-menu ul li:nth-child(1) {
  color: #fff;
  background-color: var(--carolina-blue);
}

#banner {
  background-image: url('../img/img1.jpg');
  background-position: center;
  background-size: cover;
  height: 670px;
}

.banner-text,
.banners {
  color: #fff;
}

#banner .container {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.banner-text {
  margin-top: 85px;
}

.banner-text h1 {
  font-size: 2.75rem;
}

.banner-text p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.banners {
  display: flex;
}

.banner h2 {
  padding: 0;
  margin: 0;
}

.banner p {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.banner {
  flex: 1;
  padding: 20px;
}

.banner .button {
  border: 1px solid #fff;
  width: max-content;
  padding: 5px;
  cursor: pointer;
}

.banner .hours-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.banner .hours-content p {
  font-size: 0.75rem;
}

#content main {
  flex: 2;
}

#content aside {
  flex: 1;
}
.title-section {
  font-size: 1.25rem;
  font-weight: bold;
  position: relative;
}

.title-section::after {
  content: "";
  background-color: var(--carolina-blue);
  position: absolute;
  height: 3px;
  width: 76px;
  left: 0;
  bottom: -10px;
}

#content .departments {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

#content .departments div {
  background-color: var(--carolina-blue);
  margin-bottom: 25px;
  width: 140px;
  height: 140px;
}

.appointment address {
  font-style: normal;
}

.appointment .appointment-text {
  margin: 30px 0;
  font-size: .75rem;
}

.appointment .contacts-list div {
  padding: 15px 0px;
  border-top: 1px solid var(--gray-icon);
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

.appointment .contacts-list div i {
  font-size: 1.25rem;
  margin-right: 15px;
  color: var(--gray-icon);
}

.posts {
  display: flex;
  flex-wrap: wrap;
}

.posts article {
  flex: 1;
  margin: 0 20px 20px 0;
  min-width: 300px;
}

.widget .widget-date {
  display: flex;
}

.widget .widget-date .full-date {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: #fff;
  padding: 10px;
  background-color: var(--dark-cornflower-blue);
}

.widget .widget-date .comments {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: #fff;
  background-color: var(--carolina-blue);
  margin-left: 5px;
  padding: 10px;
}

.widget .widget-image {
  margin: 30px 0px;
}

.widget .widget-image img {
  width: 100%;
}

.widget .widget-title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.widget .widget-resume {
  font-size: 1rem;
}

footer {
  background-color: #171617;
}

footer .banners {
  flex: 1;
}

footer .container {
  flex-direction: column;
}

.footer-menu {
  display: flex;
  flex: 1;
}

footer .title-section {
  color: #fff;
}

.footer-menu .option {
  color: #6d6d6d;
  flex: 1;
}

.footer-menu .option .option-resume {
  font-size: .75rem;
  margin: 30px 0px;
}

footer .contacts-list div {
  display: flex;
  justify-content: space-between;
}

footer .contacts-list div p {
  margin: 0;
  font-size: .80rem;
  flex: 1;
}

footer a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

footer .social-media {
  margin: 30px 0px;
}

footer .social-media i {
  font-size: 1.25rem;
  padding: 5px;
  color: #5d5c5c;
  background-color: #2d2c2c;
  cursor: pointer;
}

.footer-menu .option .option-resume ul {
  padding-left: 15px;
}

.footer-menu .option .option-resume ul li{
  list-style-type: "🠒";
  color: #fff;
  font-size: .8rem;
  line-height: 1rem;
  padding: 0px 5px;
}

.footer-menu .option .option-resume .year {
  font-size: .75rem;
  color: var(--carolina-blue);
}

.gray {
  color: #5d5c5c;
}