:root {
    --bg-dark: #000;
    --camel: #cc9a62;
    --bg-gray: #eeeeee;
    --bg-light-gray: #f7f7f7;
    --bg-dark-gray: #999999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header {
    max-width: 1200px;
    margin: auto;
    height: inherit;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo .img-logo {
    background-color: var(--camel);
    width: 80px;
    height: 80px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style-type: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    display: flex;
    align-items: center;
    color: var(--bg-light-gray);
    height: 100px;
    text-decoration: none;
    border-bottom: 5px solid var(--bg-dark);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: .8rem;
    padding: 0px 8px;
    text-transform: uppercase;
    transition: all .2s;
}

.menu li a:hover{
    border-bottom: 5px solid var(--camel);
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner .sliders {
    width: calc(3 * 100vw);
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, .8);
}

.banner .slide-area {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
}

.banner .slide-area h1,
.banner .slide-area h2, 
.banner .slide-area a {
    color: var(--bg-light-gray);
    text-transform: uppercase;
}

.banner .slide-area h1 {
    font-size: 3rem;
    margin: 10px 0px;
}

.banner .slide-area h1 span {
    color: var(--camel);
}

.banner .slide-area a {
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    background-color: var(--camel);
    margin: 20px 0px;
    border-radius: 30px;
}

