:root {
    --bg-dark: #000;
    --camel: #cc9a62;
    --bg-gray: #eeeeee;
    --bg-light-gray: #f7f7f7;
    --bg-dark-gray: #999999;
}

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header {
    max-width: 1200px;
    margin: auto;
    height: inherit;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo .img-logo {
    background-color: var(--camel);
    width: 80px;
    height: 80px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style-type: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    display: flex;
    align-items: center;
    color: var(--bg-light-gray);
    height: 100px;
    text-decoration: none;
    border-bottom: 5px solid var(--bg-dark);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 0.8rem;
    padding: 0px 8px;
    text-transform: uppercase;
    transition: all 0.2s;
}

.menu li a:hover {
    border-bottom: 5px solid var(--camel);
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner .sliders {
    width: calc(3 * 100vw);
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slide-area {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
}

.banner .slide-area h1,
.banner .slide-area h2,
.banner .slide-area a {
    color: var(--bg-light-gray);
    text-transform: uppercase;
}

.banner .slide-area h1 {
    font-size: 3rem;
    margin: 10px 0px;
}

.banner .slide-area h1 span {
    color: var(--camel);
}

.banner .sliders-count {
    position: absolute;
    width: 100vw;
    bottom: 50px;
    display: flex;
    justify-content: center;
}

.banner .sliders-count .pointer {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 0px 5px;
    border: 1px solid var(--camel);
    cursor: pointer;
}

.banner .sliders-count .pointer:nth-child(1) {
    background-color: var(--camel);
}

.default {
    padding: 20px 0px;
    font-family: 'Montserrat';
}

.default .section-title,
.default .section-sub-title {
    font-weight: 600;
    font-family: 'Montserrat';
    text-transform: uppercase;
    text-align: center;
}

.default .section-title {
    font-size: 1.2rem;
}

.default .section-sub-title {
    font-size: 0.9rem;
    margin: 10px 0px 40px;
    color: var(--bg-dark-gray);
}

.default .section-body {
    max-width: 1200px;
    margin: auto;
}

.light {
    background-color: var(--bg-light-gray);
}

.light .section-title {
    color: var(--bg-dark);
}

.dark {
    background-color: var(--bg-dark);
}

.dark .section-title {
    color: var(--bg-gray);
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    background-color: var(--camel);
    margin: 20px 0px;
    border-radius: 30px;
    color: #f7f7f7;
    font-family: 'Montserrat';
    font-weight: 600;
}

.section-aboutus {
    display: flex;
}

.section-aboutus .section-aboutus-left {
    flex: 1;
}

.section-aboutus .section-aboutus-left p {
    line-height: 25px;
}

.section-aboutus .section-aboutus-right {
    width: 520px;
    padding: 0px 20px;
}

.section-aboutus .section-aboutus-right img {
    max-width: 450px;
    width: 100%;
    box-shadow: 0px 0px 20px black;
}

.section-services {
    display: flex;
    text-align: center;
    font-family: 'Montserrat';
}

.section-services .section-service {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #333;
}

.section-services .section-service:first-child {
    border-left: 1px solid #333;
}

.section-services .section-service h4 {
    margin-top: 20px;
    font-size: 1.25rem;
    color: var(--bg-gray);
}

.section-services .section-service p {
    font-size: 1rem;
    margin-top: 10px;
    color: var(--bg-dark-gray);
}

.section-projects {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-projects .filter-projects {
    background-color: #eeeeee;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    border: 1px solid #ccc;
    color: var(--bg-dark-gray);
}

.section-projects .filter-projects ul,
.section-projects .filter-projects li {
    list-style-type: none;
    height: inherit;
    line-height: 50px;
}

.section-projects .filter-projects li {
    display: inline-block;
    padding: 0px 15px;
    border-left: 1px solid #ccc;
    cursor: pointer;
    text-transform: uppercase;
}

.section-projects .filter-projects li:first-child {
    border: 0;
}

.section-projects .filter-projects li:hover {
    border-bottom: 3px solid var(--camel);
}

.section-projects .gallery-projects {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 1200px;
    justify-content: center;
    text-align: center;
    margin: 20px 0px;
}

.section-projects .gallery-projects .photo-area {
    width: 280px;
    height: 180px;
}

.section-projects .gallery-projects .photo-area img {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects .gallery-projects .photo-info {
    position: absolute;
    margin: 10px;
    width: 260px;
    height: 160px;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    cursor: pointer;
}

.section-projects .gallery-projects .photo-info h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.section-projects .gallery-projects .photo-area:hover .photo-info {
    opacity: 1;
}

.bg-image {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 0;
}

.bg-image .section-team-mask {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0px;
}

.section-team .sliders {
    max-width: 1080px; /* muda o tamanho para poder esconder ou aparecer os cards dependendo do tamanho do dispositivos */
    display: flex;
    margin: auto;
    overflow-x: hidden;
}

.section-team .slide {
    width: 340px;
    height: 420px;
    background-color: #fff;
    margin: 10px;
}

.section-team .slide-area {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sliders-count {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}

.sliders-count .pointer {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 0px 5px;
    border: 1px solid var(--camel);
    cursor: pointer;
}

.sliders-count .pointer:nth-child(1) {
    background-color: var(--camel);
}
